.podcastCard {
  background-color: rgb(23, 40, 40);
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.6);
  color: rgba(49, 170, 176, 0.25);
  margin-left: 15px;
  margin-bottom: 15px;
  padding-bottom: 1px;
  transition: transform 0.5s ease, color 1s ease, box-shadow 0.5s ease;

  width: 250px;

  /* prevent podcast-card from showing very long descriptions*/
  p {
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-clamp: 3;
    -webkit-box-orient: vertical;
    padding: 0 10px;
  }

  .titlesBorder {
    padding-top: 5px;
    border-top: 1px solid rgba(0, 241, 255, 0.1);
  }

  h4 {
    color: rgba(0, 241, 255, 0.8);
    height: 1em;
  }

  h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: auto;
    margin-top: 5px;
    padding: 0 10px;
    margin-bottom: -20px;
    color: rgb(0, 241, 255);
  }

  img {
    width: 250px;
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: rgb(0, 241, 255);
  }

}