.tag {
    background: rgba(49, 170, 176, 0.1);
    color: #00f1ff;
    border-radius: 10px;
    border: 2px solid #057067;
    padding: 0 5px;
    margin-bottom: 20px;
    opacity: 0.8;
    text-decoration: none;
}