@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body {
    background: linear-gradient(to right, #11998e 0%, #38ef7d 100%);
    font-family: sans-serif;
}

.container {
    border: 2px solid;
    border-image-slice: 2;
    border-image-source: linear-gradient(to right, #11998e 0%, #38ef7d 100%);
    height: 450px;
    margin: 10% 35%;
    position: absolute;
    width: 380px;
}

.login-container {
    left: 10%;
    position: absolute;
    top: 5%;
    width: 300px;
}

.login-container h1 {
    border-bottom: 4px solid #007250;
    margin-bottom: 20px;
    text-align: center;
}

.login-container .logo {
    animation: wiggle 2.5s infinite;
    height: 10em;
    margin-left: 30%;
}

.text-box {
    border-bottom: 1px solid #007250;
    font-size: 20px;
    margin: 8px 0;
    overflow: auto;
    padding: 8px 0;
}

.text-box i {
    float: left;
    text-align: center;
    width: 26px;
}

.text-box input {
    background: none;
    border: none;
    color: #007250;
    font-size: 18px;
    margin: 0 10px;
    outline: none;
}

.login-button {
    background: none;
    border: 2px solid #007250;
    color: #007250;
    font-size: 18px;
    margin: 12px 0;
    padding: 5px;
    width: 100%;
}

.login-button:hover {
    background: #38ef7d;
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(0deg);
    }
    85% {
        transform: rotate(5deg);
    }
    95% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}


