.searchBar {
  background-color: transparent;
  border: 2px solid #11998e;
  border-radius: 5px;
  color: rgba(0, 189, 134, 0.2);
  font-size: 25px;
  margin-top: 10px;
  outline: none;
  text-align: center;
  width: 35%;

  &:focus {
    color: rgb(0, 189, 134);
  }
}

.searchBtn {
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #11998e;
  color: #11998e;
  font-size: 20px;
  margin-top: 10px;
  padding: 5px 30px 5px 30px;

  &:hover {
    border-color: transparent;
    background-color: #00bd86;
    color: #222831;
  }
}

::placeholder {
  color: #11998e;
  opacity: 0.5;
}
