.mainContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
}

.homeLink {
  width: 100%;
  font-weight: bolder;
}

.topContainer {
  color: rgb(0, 241, 255);
  border-image-slice: 1;
  border-image-source: radial-gradient(#11998EFF 0%, #11998E47 100%);
  border-bottom: 1px solid;
  font-size: 2.2em;
  font-weight: bolder;
  padding: 15px;
  margin-bottom: 10px;
  width: 100%;
}

.leftContainer {
  background-color: #132325;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  color: #31aab0;
  flex-basis: 30%;

  .podcastCard {
    h2 {
      margin-top: 5px;
      margin-bottom: 0;
    }

    h4 {
      margin: 0;
    }

    p {
      margin-top: 5px;
      padding: 0 5px 0 5px;
    }

    img {
      width: 100%;
    }
  }
}

.middleContainer {
  background-color: #132325;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  color: #31aab0;
  flex-basis: 30%;
  padding: 15px;

  .formTitle {
    color: rgb(0, 241, 255);
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .formAuthor {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
  }

  .formDetails {
    text-align: center;
    font-size: 13px;
  }

  .formLabel {
    font-size: 17px;
    text-align: center;
    margin-top: 5%;
    border-bottom: 1px solid rgba(0, 241, 255, 0.36);
    margin-bottom: 15px;
  }

  .editBtn {
    cursor: pointer;
    background: none;
    border: 2px solid rgba(0, 241, 255, 0.7);
    border-radius: 5px;
    color: rgba(0, 241, 255, 0.7);
    font-family: "Monaco", "Courier New", monospace;
    font-size: 18px;
    margin: 9px 0;
    outline: none;
    width: 40%;

    &:hover {
      background-color: rgba(0, 241, 255, 1);
      color: #222831;
    }
  }

  .tagsContainer {
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
  }

  .btnContainer {
    margin-top: 20px;
  }
}

.rightContainer {
  background-color: #132325;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  color: #31aab0;
  flex-basis: 30%;

  .reviewsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 5px;
    padding-bottom: 25px;
    color: rgba(0, 241, 255, 1);
  }
}



