@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body {
    background: #093637;
    font-family: "Monaco", "Courier New", monospace;
}

.form-container {
    border: 2px solid;
    border-image: linear-gradient(to left, #11998e 0%, #38ef7d 100%) 1;
    height: 650px;
    margin: 3% 35%;
    position: absolute;
    width: 380px;
}

.form-title {
    color: #11998e;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: center;
}

.login-box {
    color: #11998e;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 250px;
}

::placeholder {
    color: #11998e;
    font-family: "Monaco", "Courier New", monospace;
    opacity: 0.4;
    padding: 5px;
}

.login-box .submit-button {
    color: #11998e;
    margin-left: 20%;
    width: 150px;
}

.submit-button:hover {
    background: rgb(17, 153, 142);
}
