.form-button, .submit-button {
    background: none;
    border: 2px solid #11998e;
    border-radius: 5px;
    color: rgb(17, 153, 142);
    font-family: "Monaco", "Courier New", monospace;
    font-size: 18px;
    margin: 9px 0;
    outline: none;
    width: 100%;
}